body {
    background: #fff;
    color: #999;
    padding: 0;
    margin: 0;
    font-family: Raleway,"Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
    font-weight: normal;
    font-style: normal;
    line-height: 160%;
    position: relative;
    cursor: auto;
}
body {
   padding: 0 60px;
}
html, body {
    font-size: 14px;
}
img {
   width:100%
}
h1, h2, h3, h4, h5, h6 {
    text-transform: uppercase;
    letter-spacing: 1px;
}
a, p, li, input, textarea, span, div {
    font-family: 'Open Sans',sans-serif;
    font-weight: 400;
    font-size: 13px;
    color: #7d7d7d;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-shadow: 1px 1px 1px rgba(0,0,0,.004);
}
ul, menu, dir {
   margin: 0;
   padding: 0;
   list-style: none;
}
ul li {
   list-style: none;
   list-decoration: none;
}
a {
    color: #F9CE06;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}
a {
    color: #F9CE06;
    text-decoration: none;
    line-height: inherit;
   background-color: transparent;
}
a:hover {
    color: #999;
}
a:hover, a:focus {
    color: #d6b105;
}