/* Flex MENU */
/* http://codepen.io/terrymun/pen/cKxwu */
.header-wrapper {
   background: #ffffff;
   .header {
     padding: 10px 0;
           .logo {              
               a {
/*                   Important to make the link as tall as the image - the float:left property */
               background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADwAAAA8CAYAAAA6%2FNlyAAAAAXN…dHK83A30yACTABJsAEmAATYAJMgAkwASbABJgAE2ACpgn8AifqWMagHEobAAAAAElFTkSuQmCC);
                background-size: 32px;
                background-repeat: no-repeat;
                background-position: center;
                height: 100%;
                width: 100%;
                -webkit-transform: translateY(0);
                -ms-transform: translateY(0);
                transform: translateY(0);
                -webkit-transition: all 0.1s ease-out;
                transition: all 0.1s ease-out;
               }
           }
        
                 
   }                 
}
