<div class="counTo-wrapper">
   <ul>
     {% assign contentTimer = site.data.content.[include.component-data.content-type] %}
      {{ include.component-data.content-type }}
         {% for project in contentTimer %}
              <li>
                 
                 <div class="countTo" data-from="0" data-to="{{ project.number }}" data-speed="5000" data-refresh-interval="50"></div>
                 <div class="title">{{ project.title }} </div>
               </li>
            {% endfor %}
       </ul>
</div>