<!-- Check the content type - Data or Collections - Posts -->
   {% include html_components/component_includes/componentContentType.html %}

      
<!-- MASONRY -->
   {% include html_components/component_includes/div-masonry-sizer.html %}
      
<!-- Check the group  html element -->      
      {% case include.component-data.groupFieldsElement %}
            {% when 'div' %}
               {% capture groupdivDiv %}<div class="{{ include.component-data.groupFieldsElementClass }}" >{% endcapture%}
               {% capture groupdivDivEnd %}</div>{% endcapture%}
            {% else %}
               {% capture groupdivUl %}<ul>{% endcapture%}
               {% capture groupdivLi %}<li class="{{ include.component-data.groupFieldsElementClass }}" >{% endcapture%}
               {% capture groupdivLiEnd %}</li>{% endcapture%}
               {% capture groupdivUlEnd %}</ul>{% endcapture%}      
       {% endcase %}
     {{ groupdivUl }}
      
<!-- Loop through the posts and set a limit if there it exists -->
   {% for post in posts limit:{{include.component-data.limit}} %} 
<!--  IF div -->  
      {{ groupdivDiv }}
<!-- If list -->
     {{ groupdivLi }}
<!--  If there is grouping div got fields -->
           {% if include.component-data.group != nill  %}
              {% assign groups = include.component-data.group %}
              {% for group in groups %}
                 <div class="{{ group.name }}">
                    {% assign fields = group.fields %}                   
                       {% include html_components/postsListCases/postsListCases.html %}
                 </div>
<!--  END loop in group -->
                {% endfor %}   
           {% else %}
<!-- Just print the fields -->
<!-- Loop each field in the component -->
              {% assign fields = include.component-data.fields %}    
              {% include html_components/postsListCases/postsListCases.html %}
<!--  END IF to check for GROUP -->
           {% endif %}
<!--    END Component HTML WRAPPER ELEMENT -->
         {{ groupdivLiEnd }}
         {{ groupdivDiv }}
<!-- End loop in posts -->
      {% endfor %} 
   {{ groupdivUlEnd }}