<!-- Check the content type - Datat or Collections - Posts -->
   {% include html_components/component_includes/componentContentType.html %}
<!-- Loop through the posts and set a limit if there it exists -->
   {% for post in onepost limit:{{include.component-data.limit}} %} 
<!--  If there is grouping div got fields -->
           {% if include.component-data.group != nill  %}
              {% assign groups = include.component-data.group %}
              {% for group in groups %}
                 <div class="{{ group.name }}">
                    {% assign fields = group.fields %}                   
                       {% include html_components/postsListCases/postsListCases.html %}
                 </div>
<!--  END loop in group -->
                {% endfor %}   
           {% else %}
<!-- Just print the fields -->
<!-- Loop each field in the component -->
               {% assign fields = include.component-data.fields %}    
               {% include html_components/postsListCases/postsListCases.html %}
<!--  END IF to check for GROUP -->
              {% endif %}
<!-- End loop in posts -->
      {% endfor %} 
