/*
    Document   : meuse/_sass/html_components/_posts-lists.scss/_media.scss
    Created on : 2015-07-28 03:40 PM
    Author     : dimdervas
    Description:
    Purpose of the stylesheet follows.
    To change this template use Tools | Templates.
*/

root {
    display: block;
}