<!-- Loop through the images and set limit -->
   <div class="post-image {{ include.field_Data.class }}" data-eq-pts="{{ include.field_Data.eqs }}">
      
      {% case include.field_Data.link %}
      {% when 'posts' %}
            <a href="{{ site.baseurl}}{{ post.url }}"> 
      {% when 'products' %}
             <a href="{{ site.baseurl}}products/{{ post.sku }}.html">         
      {% endcase %}
                
     <img src="{{ include.field_Data.images_path }}{{ post.image }}" alt="{{ post.alt }}">
                 
      </a>           
   </div>   