---
layout: default
---


{% include basic_components/page.html yaml-file='blogpost' %}

{% for post in site.blog %}
 {% assign thisyear = post.date | date: "%B %Y" %}
 {% assign prevyear = post.previous.date | date: "%B %Y" %}
 {% assign counter = counter | plus: 1 %}

  {% if thisyear != prevyear %}
<h2 class="archive"><a>{{ thisyear }}</a> <i class="fa fa-cube"></i>  
      {{counter }}</h2>

<ul>
  {% assign fli = forloop.index | minus: counter %}
  {% for post2 in site.posts limit: counter offset: fli %} 
    <li><a href="{{ post2.url }}">{{ post2.title }}</a> 
    <time> &mdash; {{ post2.date | date: "%a %e-%b-%Y"}}</time> 
    </li>
  {% endfor %}
</ul>   
 {% assign counter = 0 %}
  {% endif %}
{% endfor %}


<!-- Group by tags -->
{% assign posts = site.blog | where:'group', post.tags %}

<ul class="articles-list">
  {% for post in posts %}
    <div data-scroll-reveal="enter ease 0">
      {{ post.tags }}
         <a href="{{ site.baseurl}}blog/"> {{ post.tags }}</a>
    </div>
  {% endfor %}
</ul>

